.maincontainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gainsboro-200);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-color: var(--color-gainsboro-200); */
}

.footerbutton {
  margin: 0 10px;
}