.sidebar {
  background: #ff5f84;
}
/*
.sidebarBtn {
  margin-bottom: 1rem;
}

.sidebarIcon {
  font-size: 1rem;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.sidebarMenuItem {
  padding: 5px;
  border: 0px;
  cursor: pointer;
  background-color: var(--color-gainsboro-200);
} */
