.table-container {
    border-collapse: collapse;
    margin: 20px;
  }
  
  .table-container th, .table-container td {
    padding: 10px;
    border: 1px solid black;
  }
  
  .table-container th {
    background-color: var(--color-gainsboro-200);
  }
  
/* 
   .table-container{
    margin-left: 50px;
    min-width: 640px;
    overflow: hidden;
    margin-top: 8%;
    margin-left: 30%;
    background-color: #CBDDD1;
    border-radius: 10px;
  }
  
  .table-container th {
    font-weight:1000;
    font-size: larger;
    font-family: Josefin Sans;
    background-color: #4A9486;
    color:black;
  }
  
  
  .table-container td {
    padding: 10px;
    border-bottom: 1px solid #494747;
  }
  
  .table-container tr:last-child td {
    border-bottom: none;
  } */